helloworld/target/classes/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8978b6c8-cb64-4a7b-ba57-59de490b483b" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="78569fc2-23f9-49f7-9f4d-8598fd184e92" file="config.yaml" />
	<flow name="helloworldFlow" doc:id="2db75ca2-5473-49f3-8dbd-23dbce7dff9f" >
		<http:listener doc:name="Listener" doc:id="7eca2923-8330-4420-b466-f76686dba2ef" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#["Hello World"]' doc:name="Set Payload" doc:id="856a30e1-e035-422f-b5a2-6fa1b29fe407" />
		<logger level="INFO" doc:name="Logger" doc:id="52a9328b-447e-46e1-924f-d5c2b9703b3f" message="#[payload]"/>
	</flow>
</mule>
